body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.full-bg-img {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
